/* styles.css */
* {
  box-sizing: border-box;
}

 html, body { margin: 0; height: 100%; border-color: black; background-color: black}

 
 #outside {
   width: 100%;
   height: 100%;
 }

 #top {
   float: top;
   width: 100%;
   height: 10%;
 }

#inside{
  width: 100%;
  height: 90%;
}

#content {
  width: 100%;
  height: 90%;
}

#contentTop {
  width: 100%;
  height: 75%;
}

#contentBottom {
  width: 100%;
  height: 25%;
}






ul {
    list-style-type: none;
    margin: 0;
    padding: 1;
    overflow: hidden;
   
}

li {
    float: right;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #bb0a1e;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

